* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 60%;
}
.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
